<div class="ant-row" style="padding: 50px 40px; height: 700px">
  <div class="ant-col-4">
    <%= render 'pages/purchase_invoice/nav' %>
  </div>
  <div class="ant-col-20">
    <h1>List</h1>
  </div>
</div>