<ul>
  <li><%= active_link_to "Agenda", agenda_path %></li>
  <li><%= active_link_to "Facturación", admin_clients_path %></li>
  <li><%= active_link_to "Admin", admin_root_path  %></li>
  <li style="float:right"><a href="#about">User</a></li>
</ul>
