<div class="navbar">
  <ul>
    <li><%= active_link_to "Agenda", appointments_path %></li>
    <li><a href="#">Facturación</a></li>
    <li><%= active_link_to "Mantenimiento", admin_root_path  %></li>
    <li><a href="#">Reportes</a></li>
    <li style="float:right"><a href="#about">User</a></li>
  </ul>
</div>