<ul>
  <li><a href="#home">Agendar</a></li>
  <li><a href="#news">Facturar</a></li>
  <li><%= active_link_to "Admin", admin_root_path  %></li>
  <li style="float:right"><a href="#about">User</a></li>
</ul>
